@use "../custom" as *;
@use "../components/mixins" as *;
html{
    background-color: black;
}

body{
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto !important;
    float: none !important;
    .first-section{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .second-section{
        img{
            width: 45%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
